@use "../global/variables";

.about__title {
  color: $primary-color;
}

.about__content {
  p {
    margin: 0;
  }

  p:first-of-type {
    font-size: 16px;
    line-height: 22px;
  }

  h3 {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    color: $primary-color;
    margin: 0;
  }

  @media (min-width: $tablet-width) {
    p:first-of-type {
      font-size: 20px;
      line-height: 26px;
    }

    h3 {
      font-size: 28px;
      line-height: 28px;
    }
  }

  @media (min-width: $desktop-width) {
    p:first-of-type {
      font-size: 22px;
      line-height: 32px;
    }

    h3 {
      font-size: 32px;
      line-height: 36px;
    }
  }
}

.about__advantages {
  color: #ffffff;
  background-color: $primary-color;
}

.about__advantages-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.about__advantages-item {
  h3 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    letter-spacing: 0.16px;
    text-transform: uppercase;
    margin: 0;
  }

  p {
    font-weight: 300;
    color: $secondary-text-color;
    margin: 0;
  }

  @media (min-width: $tablet-width) {
    h3 {
      font-size: 20px;
      line-height: 22px;
      letter-spacing: 0.2px;
    }
  }

  @media (min-width: $desktop-width) {
    h3 {
      font-size: 26px;
      line-height: 30px;
      letter-spacing: 0.26px;
    }

    p {
      line-height: 20px;
    }
  }
}
