@use "../global/variables";

.contacts {
  background-color: $primary-color;
  color: #ffffff;

  h2,
  h3 {
    font-weight: 400;
  }

  address {
    font-style: normal;
  }
}

.contacts__title {
  color: #ffffff;
}

.contacts__item-title {
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.12px;
  color: $secondary-text-color;
  text-transform: uppercase;
  opacity: 0.8;
  margin: 0;
}

.contacts__item-description {
  color: #ffffff;
  text-decoration: none;
}
