@use "../global/variables";

.faq {
  padding-top: 50px;
  padding-bottom: 50px;
}

.faq__title {
  text-align: center;
  color: $primary-color;
  margin-bottom: 30px;
}

.faq__details-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.faq__details-list-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $primary-color;
  border: 2px solid $primary-color;
  border-radius: 14px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease, padding 0.3s ease, height 0.3s ease;

  p {
    height: 0;
    overflow: hidden;
    margin: 0;
    transition: height 0.3s ease, overflow 0.3s ease;
  }

  &:nth-of-type(1),
  &:nth-of-type(2) {
    padding-top: 22px;
    padding-bottom: 22px;
  }

  &:has(.faq__details-list-marker-inner--active) {
    color: #ffffff;
    background-color: $primary-color;
    padding-top: 22px;
    padding-bottom: 20px;

    .faq__details-list-title-container {
      margin-bottom: 22px;
    }

    .faq__details-list-marker {
      background-color: #ffffff;
    }

    .faq__details-list-marker::before,
    .faq__details-list-marker::after {
      background-color: $primary-color;
    }

    .faq__details-list-marker::after {
      top: 11px;
      transform: rotate(-90deg);
    }

    p {
      color: $secondary-color;
      height: auto;
      overflow: visible;
    }
  }
}

.faq__details-list-title-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding-right: 43px;
}

.faq__details-list-marker-container {
  position: absolute;
  right: 0;
}

.faq__details-list-marker {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: $primary-color;

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    width: 18px;
    height: 1px;
    background-color: #ffffff;
    transition: background-color 0.3s ease;
  }

  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    width: 1px;
    height: 18px;
    background-color: #ffffff;
    transition: background-color 0.3s ease, top 0.3s ease, transform 0.3s ease;
  }
}

.faq__details-item-title {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  margin: 0;
  transition: margin-bottom 0.3s ease;

  @media (min-width: $tablet-width) {
    font-size: 22px;
    line-height: 26px;
  }

  @media (min-width: $desktop-width) {
    font-size: 28px;
    line-height: 34px;
  }
}
