@use "../global/variables";

.header {
  --burger-menu-icon: url("/__spritemap#sprite-burger-button-view");
  --burger-menu-width: 16px;
  --burger-menu-height: 8px;
  --burger-menu-size: var(--burger-menu-width) var(--burger-menu-width);
  --burger-menu-overall: 136px;
  --burger-menu-after-x: 20.8px;

  position: absolute;
  padding-top: 20px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 32px;
  }

  @media (min-width: $desktop-width) {
    left: calc(5% + 3px);
    width: 1240px;
    padding-top: 30px;
  }
}

.header__container {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.header__logo-container {
  position: absolute;
  left: $phone-padding-x;
  width: 52px;
  height: 52px;
  z-index: 2;

  @media (min-width: $tablet-width) {
    left: $tablet-padding-x;
  }

  @media (min-width: $desktop-width) {
    top: 2px;
    left: 25px;
  }
}

.header__nav-group {
  position: relative;
  z-index: 2;
}

.header__button-menu {
  font-size: 14px;
  min-width: var(--burger-menu-overall);
  min-height: 54px;
  background-color: #ffffff;
  padding-top: 5px;
  padding-right: 51px;
  transition: min-width 0.3s ease;

  &::before {
    width: 46px;
    height: 46px;
  }

  &::after {
    right: var(--burger-menu-after-x);
    width: var(--burger-menu-width);
    height: var(--burger-menu-height);
    mask-image: var(--burger-menu-icon);
    mask-size: var(--burger-menu-size);
    mask-position: center;
    background-color: #ffffff;
    transition: right 0.3s ease;
  }

  @media (min-width: $tablet-width) {
    min-height: 56px;
    padding-top: 0;
    padding-left: 20px;
  }
}

.header__nav-list {
  display: flex;
  flex-direction: column;
  gap: 28px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__nav {
  position: absolute;
  top: 58px;
  left: -100%;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  background-color: $primary-color;
  border-radius: 16px;
  padding: 35px 25px;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
  transition: opacity 0.3s ease;
}

.header__nav--open {
  opacity: 1;
  visibility: visible;
}

.header__nav-button {
  --transform-rotate-item: 0;

  position: relative;
  display: inline-block;
  color: #ffffff;
  text-transform: uppercase;
  border: 1px solid transparent;
  background-color: transparent;
  padding: 0;

  &::after {
    position: absolute;
    top: 50%;
    right: -16px;
    transform: translateY(-50%) rotate(var(--transform-rotate-item));
    content: "";
    width: 13px;
    height: 6px;
    mask-image: url("/__spritemap#sprite-arrow-select-view");
    mask-repeat: no-repeat;
    mask-size: 13px 6px;
    mask-position: center;
    background-color: #ffffff;
    transition: transform 0.3s ease;
  }
}

.header__nav-list ul {
  text-transform: none;
  font-weight: 400;
  opacity: 0.6;
}

.header__nav a {
  display: block;
  text-decoration: none;
  color: #ffffff;
  width: fit-content;
}

.header__nav-sub-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 0;
  list-style: none;
  overflow: hidden;
  visibility: hidden;
  padding: 0;
  padding-left: 16px;
  margin: 0;
  transition: height 0.3s ease, padding 0.3s ease;
}

.header:has(.header__nav--open) {
  --burger-menu-icon: url("/__spritemap#sprite-cross-view");
  --burger-menu-width: 18px;
  --burger-menu-height: 18px;
  --burger-menu-overall: 290px;
  --burger-menu-after-x: 18px;

  .header__nav {
    width: var(--burger-menu-overall);
    left: auto;
  }

  .header__button-menu {
    background-color: $primary-color;
    color: #ffffff;
  }

  .header__button-menu::before {
    background-color: #ffffff;
  }

  .header__button-menu::after {
    background-color: $primary-color;
  }

  @media (min-width: $tablet-width) {
    --burger-menu-overall: 286px;
  }
}
