@use "../global/variables";

.hero {
  position: relative;
  margin-right: auto;
  margin-left: auto;
}

.hero__slide-title {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: $primary-color;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 44px;
  }

  @media (min-width: $desktop-width) {
    font-size: 54px;
    line-height: 62px;
  }
}

.hero__slide-inner {
  position: relative;
  z-index: 1;
}

.hero__slide-inner p {
  font-size: 16px;
  line-height: 20px;
  margin: 0;

  @media (min-width: $desktop-width) {
    line-height: 26px;
  }
}

.hero__image-container {
  position: absolute;
}

.hero__image {
  display: block;
}

// Swiper

.hero .hero__swiper {
  width: 320px;
  height: 568px;

  @media (min-width: $tablet-width) {
    width: 768px;
    height: 1024px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    height: 800px;
  }
}

.hero__pagination {
  display: flex;
  align-items: center;
  gap: 12px;
  width: fit-content;
  height: 28px;
  background-color: #ffffff;
  border-radius: 12px 12px 0 0;
  padding-left: 16px;
  padding-right: 16px;
}

.hero__pagination-bullet {
  width: 10px;
  height: 10px;
  border: 2px solid $primary-color;
  border-radius: 100%;
  background-color: transparent;
  padding: 0;
  transition: background-color 0.3s ease;
}

.hero__pagination-bullet--active {
  background-color: $primary-color;
}
