@use "../global/variables";

.hero {
  position: relative;
  margin-right: auto;
  margin-left: auto;
}

.hero__card {
  display: flex;
  align-items: flex-end;
  padding-top: 80px;
  height: 568px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 92px;
    height: 1024px;
    padding-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    height: 800px;
  }
}

.hero__image-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.hero__image {
  display: block;
  object-fit: cover;
}

.hero__slide-title {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: $primary-color;
  background-color: #ffffff;
  border-radius: 0 16px 16px 0;
  padding: 20px 15px 16px 14px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 44px;
    border-radius: 0 30px 30px 0;
    padding-top: 30px;
    padding-bottom: 24px;
    padding-left: 40px;
    padding-right: 69px;
  }

  @media (min-width: $desktop-width) {
    font-size: 54px;
    line-height: 62px;
    width: 968px;
    padding-top: 40px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

.hero__group-tablet-plus {
  display: contents;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    background-color: #ffffff;
    border-radius: 0 0 30px 30px;
    width: fit-content;
    padding-bottom: 35px;
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.hero__slide-inner {
  position: relative;
  z-index: 1;
}

.hero__slide-inner p {
  font-size: 16px;
  line-height: 20px;
  width: 267px;
  background-color: #ffffff;
  border-radius: 0 0 14px;
  padding: 0 14px 15px;
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 285px;
    padding: 0;
    border-radius: 0;
    background-color: transparent;
  }

  @media (min-width: $desktop-width) {
    line-height: 26px;
    width: 446px;
  }
}

.hero__button-wrapper {
  background-color: #ffffff;
  border-radius: 0 0 14px 14px;
  width: fit-content;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;

  @media (min-width: $tablet-width) {
    display: contents;
  }
}

.hero__button {
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.24px;
  width: 154px;
  height: 44px;

  &::before {
    width: 34px;
    height: 34px;
  }

  &::after {
    right: 20px;
    width: 6.4px;
    height: 6.4px;
    mask-image: url("/__spritemap#sprite-arrow-button-view");
    mask-position: center;
    mask-size: 6.4px 6.4px;
    background-color: #ffffff;
  }

  @media (min-width: $tablet-width) {
    width: 198px;
    height: 56px;

    &::before {
      width: 46px;
      height: 46px;
    }

    &::after {
      right: 24px;
      width: 8px;
      height: 8px;
      mask-size: 8px 8px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 199px;
    height: 58px;
  }
}

// Swiper

.hero .hero__swiper {
  width: 320px;
  height: 568px;

  @media (min-width: $tablet-width) {
    width: 768px;
    height: 1024px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    height: 800px;
  }
}

.hero__slide:first-of-type {
  br {
    display: none;
  }

  @media (min-width: $desktop-width) {
    br {
      display: block;
    }
  }
}

.hero__pagination {
  position: absolute;

  // вертикальная позиция регулируется через js в hero-swiper.js updatePaginationPosition.
  left: calc(4% + 2px);
  display: flex;
  align-items: center;
  gap: 12px;
  width: 80px;
  height: 28px;
  background-color: #ffffff;
  border-radius: 12px 12px 0 0;
  padding-left: 16px;
  padding-right: 16px;
  z-index: 2;
  transition: bottom 0.3s ease, opacity 0.3s ease;

  @media (min-width: $tablet-width) {
    width: 100px;
    left: calc(5% + 7px);
    height: 40px;
    border-radius: 20px 20px 0 0;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: $desktop-width) {
    left: calc(8% + 5px);
  }
}

.hero__pagination--hidden {
  opacity: 0;
}

.hero__pagination-bullet {
  width: 8px;
  height: 8px;
  border: 2px solid $primary-color;
  border-radius: 100%;
  background-color: transparent;
  padding: 0;
  transition: background-color 0.3s ease;

  @media (min-width: $tablet-width) {
    width: 10px;
    height: 10px;
  }
}

.hero__pagination-bullet--active {
  background-color: $primary-color;
}
