@use "../global/variables";

.hero {
  position: relative;
  margin-right: auto;
  margin-left: auto;
}

.hero__card {
  padding-top: 80px;
  height: 568px;

  @media (min-width: $tablet-width) {
    padding-top: 92px;
    height: 1024px;
  }

  @media (min-width: $desktop-width) {
    height: 800;
  }
}

.hero__image-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.hero__image {
  display: block;
  object-fit: cover;
}

.hero__slide-title {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: $primary-color;
  background-color: #ffffff;
  border-radius: 0 16px 16px 0;
  padding: 20px 15px 16px 14px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 44px;
  }

  @media (min-width: $desktop-width) {
    font-size: 54px;
    line-height: 62px;
  }
}

.hero__slide-inner {
  position: relative;
  z-index: 1;
}

.hero__slide-inner p {
  font-size: 16px;
  line-height: 20px;
  width: 267px;
  background-color: #ffffff;
  border-radius: 0 0 14px;
  padding: 0 14px 15px;
  margin: 0;

  @media (min-width: $desktop-width) {
    line-height: 26px;
  }
}

.hero__button-wrapper {
  background-color: #ffffff;
  border-radius: 0 0 14px 14px;
  width: fit-content;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
}

.hero__button {
  width: 154px;
  height: 44px;

  &::before {
    width: 34px;
    height: 34px;
  }

  &::after {
    right: 20px;
    width: 6.4px;
    height: 6.4px;
    mask-image: url("/__spritemap#sprite-arrow-button-view");
    mask-position: center;
    mask-size: 6.4px 6.4px;
    background-color: #ffffff;
  }
}

// Swiper

.hero .hero__swiper {
  width: 320px;
  height: 568px;

  @media (min-width: $tablet-width) {
    width: 768px;
    height: 1024px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    height: 800px;
  }
}

.hero__pagination {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 12px;
  width: fit-content;
  height: 28px;
  background-color: #ffffff;
  border-radius: 12px 12px 0 0;
  padding-left: 16px;
  padding-right: 16px;
}

.hero__pagination-bullet {
  width: 10px;
  height: 10px;
  border: 2px solid $primary-color;
  border-radius: 100%;
  background-color: transparent;
  padding: 0;
  transition: background-color 0.3s ease;
}

.hero__pagination-bullet--active {
  background-color: $primary-color;
}
