@use "../global/variables";

.news {
  padding-top: 50px;
  padding-bottom: 50px;

  h2 {
    text-align: center;
    margin-bottom: 24px;
  }

  h2,
  h3 {
    color: $primary-color;
    font-weight: 400;
  }

  a {
    display: block;
  }

  @media (min-width: $tablet-width) {
    h2 {
      margin-bottom: 30px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 60px;
    padding-bottom: 60px;

    h2 {
      margin-bottom: 40px;
    }
  }
}

.news__list {
  display: flex;
  gap: 12px;

  // Скрол для Firefox
  overflow-x: auto;
  scrollbar-width: none;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 24px;

  // Скролл для Webkit
  &::-webkit-scrollbar {
    display: none;
  }

  @media (min-width: $tablet-width) {
    gap: 10px;
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    justify-content: center;
    gap: 30px;
    margin-bottom: 40px;
  }
}

.news__tab-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  line-height: 12px;
  color: $primary-color;
  letter-spacing: 0.24px;
  text-transform: uppercase;
  border: 2px solid transparent;
  background-color: transparent;
  border-radius: 20px;
  min-width: 75px;
  height: 36px;
  cursor: pointer;
  transition: border-color 0.3s ease;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.28px;
    min-width: 94px;
    min-height: 46px;
    padding-left: 19px;
    padding-right: 19px;
  }

  @media (min-width: $desktop-width) {
    flex-wrap: wrap;
    overflow: visible;
    width: 120px;
  }
}

.news__tab-button--active {
  border-color: $primary-color;
}

.news__time {
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.12px;
  color: $primary-color;
}

.news__card-title {
  font-size: 16px;
  line-height: 18px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
    line-height: 26px;
  }
}

.news__card-content {
  p {
    font-size: 12px;
    line-height: 14px;
    margin: 0;
  }

  @media (min-width: $tablet-width) {
    p {
      font-size: 14px;
      line-height: 20px;
    }
  }

  @media (min-width: $desktop-width) {
    p {
      line-height: 18px;
    }
  }
}

// Swiper

.news__swiper {
  width: 100%;
  height: 100%;
}

.news .news__slide {
  width: 290px;
  min-height: 330px;

  &:nth-last-of-type(2n) {
    min-height: 240px;
  }

  @media (min-width: $tablet-width) {
    width: 324px;
    min-height: 350px;

    &:nth-of-type(2n) {
      min-height: none;
    }
  }

  @media (min-width: $desktop-width) {
    width: 286px;
    min-height: 400px;

    &:nth-of-type(3n - 2) {
      width: 604px;
    }
  }
}
