@use "../global/variables";

.news {
  padding-top: 50px;
  padding-bottom: 50px;

  h2 {
    text-align: center;
    margin-bottom: 24px;
  }

  h2,
  h3 {
    color: $primary-color;
    font-weight: 400;
  }

  a {
    display: block;
  }

  @media (min-width: $tablet-width) {
    h2 {
      margin-bottom: 30px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 60px;
    padding-bottom: 60px;

    h2 {
      margin-bottom: 40px;
    }
  }
}

.news__list {
  display: flex;
  gap: 12px;

  // Скрол для Firefox
  overflow-x: auto;
  scrollbar-width: none;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 24px;

  // Скролл для Webkit
  &::-webkit-scrollbar {
    display: none;
  }

  @media (min-width: $tablet-width) {
    gap: 10px;
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    justify-content: center;
    gap: 30px;
    margin-bottom: 40px;
  }
}

.news__tab-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  line-height: 12px;
  color: $primary-color;
  letter-spacing: 0.24px;
  text-transform: uppercase;
  border: 2px solid transparent;
  background-color: transparent;
  border-radius: 20px;
  min-width: 75px;
  height: 36px;
  cursor: pointer;
  transition: border-color 0.3s ease;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.28px;
    min-width: 94px;
    min-height: 46px;
    padding-left: 19px;
    padding-right: 19px;
  }

  @media (min-width: $desktop-width) {
    flex-wrap: wrap;
    overflow: visible;
    width: 120px;
  }
}

.news__tab-button--active {
  border-color: $primary-color;
}

.news__card {
  position: relative;
  display: flex;
  min-height: 330px;

  @media (min-width: $tablet-width) {
    min-height: 350px;
  }

  @media (min-width: $desktop-width) {
    min-width: 286px;
    max-width: 286px;
  }
}

.news__image-container {
  position: absolute;
  background-color: #b0c4de;
  border-radius: 12px;
}

.news__image {
  display: block;
  border-radius: 12px;
}

.news__card-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 1;

  p {
    font-size: 12px;
    line-height: 14px;
    width: 213px;
    margin: 0;
  }

  @media (min-width: $tablet-width) {
    p {
      font-size: 14px;
      line-height: 20px;
      width: 176px;
    }
  }

  @media (min-width: $desktop-width) {
    height: 400px;

    p {
      line-height: 18px;
    }
  }
}

.news__time {
  position: relative;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.12px;
  color: $primary-color;
  background-color: $secondary-color;
  width: fit-content;
  border-radius: 0 12px 0 0;
  padding-top: 12px;
  padding-bottom: 6px;
  padding-right: 12px;

  &::after {
    top: 14px;
    right: -16px;

    @include decoration-angle(16px, 16px, 16px 16px, $secondary-color);
  }
}

.news__card-title {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  background-color: $secondary-color;
  border-radius: 0 12px 0 0;
  width: 200px;
  padding-top: 10px;
  padding-bottom: 4px;
  padding-right: 18px;
  margin: 0;

  &::after {
    bottom: 0;
    right: -18px;

    @include decoration-angle(18px, 18px, 18px 18px, $secondary-color);
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    width: 207px;
    padding-bottom: 6px;
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
    line-height: 26px;
    width: 190px;
    padding-bottom: 4px;
  }
}

.news__card-group {
  display: flex;
  background-color: $secondary-color;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 0 12px 0 10px;
  width: 263px;
  padding-top: 12px;
  padding-bottom: 10px;
  padding-right: 10px;

  @media (min-width: $tablet-width) {
    gap: 16px;
    width: 240px;
    padding-bottom: 15px;
  }

  @media (min-width: $desktop-width) {
    width: fit-content;
    padding-right: 18px;
  }
}

.news__link {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 44px;
  background-color: $primary-color;

  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    mask-image: url("/__spritemap#sprite-arrow-button-view");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 8px 8px;
    width: 8px;
    height: 8px;
    background-color: #ffffff;
    transition: background-color 0.3s ease, mask-image 0.3s ease;
  }
}

// Swiper

.news__swiper {
  width: 100%;
  height: 590px;
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    height: 730px;
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    height: 400px;
    margin-bottom: 40px;
  }
}

.news .news__slide {
  width: 290px;
  min-height: 330px;
  max-height: 330px;

  &:nth-of-type(2n) {
    min-height: 240px;
    max-height: 240px;
  }

  @media (min-width: $tablet-width) {
    width: 324px;
    min-height: 350px;
    max-height: 350px;

    &:nth-of-type(2n) {
      min-height: 350px;
      max-height: 350px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 286px;
    min-height: 400px;
    max-height: 400px;

    &:nth-of-type(2n) {
      min-height: 400px;
      max-height: 400px;
    }

    &:nth-of-type(3n - 2) {
      width: 604px;
    }
  }
}

.news__slide:nth-of-type(3n - 2) .news__card {
  @media (min-width: $desktop-width) {
    min-width: 604px;
    max-width: 604px;
  }
}

.news__slide:nth-of-type(2n) .news__card {
  min-height: 240px;
  max-height: 240px;

  @media (min-width: $tablet-width) {
    min-height: 350px;
    max-height: 350px;
  }

  @media (min-width: $desktop-width) {
    min-height: 400px;
    max-height: 400px;
  }
}

.news__slide:nth-of-type(3n - 2) .news__image {
  @media (min-width: $desktop-width) {
    object-fit: cover;
  }
}

.news__slide:nth-of-type(3n - 2) .news__card-title {
  @media (min-width: $desktop-width) {
    width: 442px;
    padding-top: 18px;
    padding-bottom: 6px;
  }
}

.news__slide:nth-of-type(3n - 2) .news__card-group {
  @media (min-width: $desktop-width) {
    width: 468px;
  }
}

.news__slide:nth-of-type(3n - 2) .news__card-content p {
  @media (min-width: $desktop-width) {
    width: 404px;
  }
}

.news__slide:nth-of-type(n+3) .news__image {
  @media (max-width: $pre-tablet-width) {
    object-fit: cover;
  }
}

.news__pagination-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 290px;

  @media (min-width: $tablet-width) {
    width: 100%;
    gap: 20px;
    justify-content: space-between;
  }
}

.news .news__pagination {
  display: flex;
  justify-content: center;
  gap: 16px;

  // Регулировка ширины для смещения пагинации на мобильной ориентации.
  min-width: 152px;
  max-width: 152px;
  height: 26px;

  @media (min-width: $tablet-width) {
    min-width: 188px;
    max-width: 188px;
    height: 32px;
  }
}

.news__pagination-bullet {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 14px;
  color: $primary-color;
  border: 1px solid transparent;
  border-radius: 20px;
  background-color: transparent;
  width: 26px;
  height: 26px;
  opacity: 0.5;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, opacity 0.3s ease;

  @media (min-width: $tablet-width) {
    width: 30px;
    height: 30px;
  }
}

.news__pagination-bullet--active {
  color: #ffffff;
  background-color: $primary-color;
  opacity: 1;
}
