@use "../global/variables";

.reviews {
  padding-top: 50px;
  padding-bottom: 50px;

  h2,
  h3 {
    font-weight: 400;
    color: $primary-color;
    margin: 0;
  }
}

.reviews__mobile-desktop-container {
  @media (min-width: $tablet-width) {
    display: contents;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.reviews__card {
  p {
    margin: 0;
  }
}

.reviews .reviews__title {
  font-size: 20px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    font-size: 34px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 50px;
  }
}

.reviews__overflow {
  display: flex;
  flex-direction: column;
}

.reviews__tablet-container {
  padding-right: 0;
}

.reviews__swiper-buttons-container {
  position: absolute;
  top: -64px;
  right: 0;

  @media (min-width: $tablet-width) {
    top: auto;
    bottom: -40px;
    order: 3;
  }
}


.reviews__name {
  font-size: 14px;
  line-height: 18px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.reviews__group-title {
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.12px;
  margin: 0;
}

.reviews__group-description {
  font-size: 12px;
  line-height: 14px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    line-height: 18px;
  }
}

.reviews__card-title {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
    line-height: 26px;
  }
}

// Swiper

.reviews__swiper {
  width: 100%;

  @media (min-width: $tablet-width) {
    order: 1;
  }
}

.reviews__swiper-scrollbar {
  display: none;
  cursor: grab;

  @media (min-width: $tablet-width) {
    display: block;
    width: 562px;
    height: 2px;
    background-color: rgba(49, 109, 194, 0.2);
    transition: transform 0.3s ease;
    order: 2;

    div {
      height: 2px;
      background-color: $primary-color;
    }
  }

  @media (min-width: $desktop-width) {
    width: 1136px;

    div {
      width: 394px;
    }
  }
}
