@use "../global/variables";

.reviews {
  padding-top: 50px;
  padding-bottom: 50px;

  h2,
  h3 {
    font-weight: 400;
    color: $primary-color;
  }
}

.reviews__mobile-desktop-container {
  @media (min-width: $tablet-width) {
    display: contents;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.reviews__card {
  border: 2px solid $primary-color;
  min-height: 472px;
  border-radius: 17px;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 17px;
  padding-right: 17px;

  p {
    margin: 0;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 0 65px;
    min-height: 417px;
    padding-top: 52px;
    padding-bottom: 52px;
    padding-left: 52px;
    padding-right: 52px;
  }
}

.reviews__tablet-plus-group {
  display: contents;

  @media (min-width: $tablet-width) {
    display: flex;
    gap: 0 65px;
    margin-bottom: 30px;
  }
}

.reviews__main-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    gap: 15px;
    margin-bottom: 0;
  }
}

.reviews__image-container {
  width: 60px;
  height: 60px;
  border-radius: 60px;

  @media (min-width: $tablet-width) {
    width: 90px;
    height: 90px;
    border-radius: 45px;
  }
}

.reviews__image {
  display: block;
  border-radius: 30px;

  @media (min-width: $tablet-width) {
    border-radius: 45px;
  }
}

.reviews .reviews__title {
  font-size: 20px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    font-size: 34px;
    line-height: 50px;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 45px;
  }
}

.reviews__overflow {
  display: flex;
  flex-direction: column;
}

.reviews__tablet-container {
  padding-right: 0;
}

.reviews__swiper-buttons-container {
  position: absolute;
  top: -64px;
  right: 0;

  @media (min-width: $tablet-width) {
    top: auto;
    bottom: -23px;
    order: 3;
  }
}


.reviews__name {
  font-size: 14px;
  line-height: 18px;
  margin: 0;


  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.reviews__info-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 25px;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.reviews__group {
  display: flex;
  flex-direction: column;
  gap: 8px;

  @media (min-width: $tablet-width) {
    gap: 11px;
  }
}

.reviews__group-title {
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.12px;
  margin: 0;
}

.reviews__group-description {
  font-size: 12px;
  line-height: 14px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    line-height: 18px;
  }
}

.reviews__card-title {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
    line-height: 26px;
  }
}

// Swiper

.reviews__swiper {
  width: 100%;

  @media (min-width: $tablet-width) {
    order: 1;
  }
}

.reviews__swiper-wrapper {
  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }
}

.reviews__swiper-scrollbar {
  display: none;
  cursor: grab;

  @media (min-width: $tablet-width) {
    display: block;
    width: 562px;
    height: 2px;
    background-color: rgba(49, 109, 194, 0.2);
    transition: transform 0.3s ease;
    order: 2;

    div {
      height: 2px;
      background-color: $primary-color;
    }
  }

  @media (min-width: $desktop-width) {
    width: 1136px;

    div {
      width: 394px;
    }
  }
}
